.btn-primary {
  border: none;
  color: var(--color-white);
  font-family: var(--font-family-button-primary);
  font-style: normal;
  padding: 12px 28px;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-primary);
  font-size: var(--font-size-button-primary);
  font-weight: var(--font-weight-button-primary);

  &:hover {
    background-color: var(--color-primary);
  }
}

.btn-secondary {
  border: none;
  color: var(--color-dark-grey);
  font-family: var(--font-family-button-primary);
  font-style: normal;
  padding: 12px 28px;
  background-color: var(--color-light-green);
  border-radius: var(--border-radius-primary);
  font-size: var(--font-size-button-primary);
  font-weight: var(--font-weight-button-primary);

  &:hover {
    background-color: var(--color-light-green);
    color: var(--color-dark-grey);
  }
}

.btn-plain {
  font-size: 14px;
  text-decoration: underline;
  color: var(--color-primary);
  font-weight: 600;

  &:hover, &:active {
    color: var(--color-primary);
    background-color: transparent;
    border: none;
  }
}

.btn-light {
  --transition: .5s cubic-bezier(.19, 1, .22, 1);
  --height: 3rem;
  position:relative;
  display:inline-block;

  .btn-light__inner {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    background-color: var(--color-lavender);
    min-width: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: var(--border-radius-primary);
    z-index: 1;
    text-align: center;
    width: 100%;
    transition: var(--transition);
    transition-property: border-color;

    .btn-light__text {
      color: var(--theme-text);
      transition: var(--transition);
      font-family: ArizonaSans,Helvetica Neue,arial,sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.4rem;
      line-height: 1.3;
      letter-spacing: -.01em;
      transition-property: color;
      will-change: color;
      padding: 1.1rem 3.3rem 1.1rem 3.3rem;
      line-height:var(--height);
      min-height:var(--height);
    }

    &.btn-primary {
      background-color: var(--color-primary);

      .btn-light__text {
        color: var(--theme-text);
      }
    }
  }

  .btn-light__bg {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
    overflow:hidden;
    border-radius: var(--border-radius-primary);

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -.1rem;
      bottom: 0;
      left: -.1rem;
      background-color:  var(--color-lavender);
      transition: var(--transition);
      transition-property: opacity,transform;
      transform: scaleX(0);
      transform-origin: 100% 100%;
    }
  }
}

html:not(.is-touch) .btn-light:hover .btn-light__inner,
html:not(.is-touch) .btn-light .btn-light__inner:focus,
html:not(.is-touch) a:hover .btn-light .btn-light__inner {
  border-color: rgba(225, 233, 255, 0.5)
}

html:not(.is-touch) .btn-light:hover .btn-light__inner+.btn-light__bg:before,
html:not(.is-touch) .btn-light .btn-light__inner:focus+.btn-light__bg:before,
html:not(.is-touch) a:hover .btn-light .btn-light__inner+.btn-light__bg:before {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: 0 0
}

@media (max-width: 768px) {
  .btn-light__text {
    padding: 1rem 2rem;
  }
}
